#root {
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  /* border: 2px solid red; */
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

main {
  /* border: 2px solid pink; */
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem auto;
  width: 100%;
  min-height: 100vh;
}

nav {
  background-color: rgb(131, 6, 247);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 8px;
}
.right-container{
position: relative;
}
.close-watched{
  top:0;
  right:0;
  position: absolute;
}